<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644512695362-ja4kp085a2tgg9s3qudn47b7r9eekno4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644512695362-ja4kp085a2tgg9s3qudn47b7r9eekno4</string>
	<key>API_KEY</key>
	<string>AIzaSyDp5VbZFrAPsIbH9v7LXaAma8olBuPUXDE</string>
	<key>GCM_SENDER_ID</key>
	<string>644512695362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.suliit.com</string>
	<key>PROJECT_ID</key>
	<string>suliit-c5356</string>
	<key>STORAGE_BUCKET</key>
	<string>suliit-c5356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644512695362:ios:153f72f3d2cbce9e0a99db</string>
</dict>
</plist>